* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  background-color: whitesmoke;
}

h2 {
  text-align: center;
}

input,
label {
  display: block;
  width: 100%;
}

input {
  margin-top: 0.5rem;
}

input[type="checkbox"] {
  display: inline-block;
  width: unset;
  margin: 0 0.5rem;
}

textarea {
  resize: none;
  width: 100%;
  margin-top: 0.5rem;
  padding: 0.5rem;
}

#root {
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
}

.form {
  display: grid;
  grid-template:
    "header header" auto
    "left right" auto
    " . submit" auto /
    1fr 1fr;

  align-items: center;
  column-gap: 2rem;
  background-color: white;
  width: 600px;
  padding: 2rem;
  margin-top: 2rem;
  border-radius: 10px;
}

.form__section-left > * + * {
  margin-top: 1rem;
}

.form__section-right > * + * {
  margin-top: 1rem;
}

.form > h2 {
  grid-area: header;
  padding-bottom: 2rem;
}

.form > input[type="submit"] {
  grid-area: submit;
}

.form__section-left {
  grid-area: left;
}

.form__section-right {
  grid-area: right;
}

.form__radio-group input {
  display: inline-block;
  width: unset;
  margin-right: 0.5rem;
}
